<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="foo.bar.OracleArrayMapper">
  <update id="doArray" statementType="CALLABLE" parameterType="java.util.Map" >
      <![CDATA[
      declare
        v_in  t_for_test_mybatis := t_for_test_mybatis();
        v_out t_for_test_mybatis := t_for_test_mybatis();
      begin
        v_in := #{map.in, jdbcType=ARRAY, javaType=OBJECT, jdbcTypeName="T_FOR_TEST_MYBATIS", typeHandler=foo.bar.OracleArrayHandler, mode=IN};
        v_out.extend(v_in.count());
        if v_in.count() > 0 then
          for v_idx in v_in.first .. v_in.last loop
            v_out(v_idx) := v_in(v_idx) || ' Это русский текст.';
          end loop;
        end if;
        v_out.extend(1);
        v_out(v_out.last()) := 'Эта новая строка';
        #{map.out, jdbcType=ARRAY, javaType=OBJECT, jdbcTypeName="T_FOR_TEST_MYBATIS", typeHandler=foo.bar.OracleArrayHandler, mode=OUT} :=  v_out;
      end;
      ]]>
  </update>

</mapper>
